**Creation and filling of the SQL database**

In [1]:
import pandas as pd
import sqlite3
# create and connect to database
connector = sqlite3.connect('public.db')
# create cursor
my_cursor = connector.cursor()
# create tables
my_cursor.executescript("""
CREATE TABLE sweets_types
(
    id integer NOT NULL,
    name character varying NOT NULL,
    PRIMARY KEY (id)
);

CREATE TABLE sweets
(
    id integer NOT NULL,
    sweets_types_id integer,
    name character varying NOT NULL,
    cost character varying NOT NULL,
    weight character varying NOT NULL,
    manufacturer_id integer NOT NULL,
    with_sugar boolean,
    requires_freezing boolean,
    production_date date NOT NULL,
    expiration_date date NOT NULL,
    PRIMARY KEY (id)
);

CREATE TABLE manufacturers_storehouses
(
    id integer NOT NULL,
    storehouses_id integer NOT NULL,
    manufacturers_id integer NOT NULL,
    PRIMARY KEY (id)
);

CREATE TABLE manufacturers
(
    id integer NOT NULL,
    name character varying NOT NULL,
    phone character varying,
    address character varying,
    city character varying NOT NULL,
    country character varying NOT NULL,
    PRIMARY KEY (id)
);

CREATE TABLE storehouses
(
    id integer NOT NULL,
    name character varying NOT NULL,
    address character varying,
    city character varying NOT NULL,
    country character varying NOT NULL,
    PRIMARY KEY (id)
);
""")
# insert data
my_cursor.executescript("""
INSERT INTO sweets_types(name) VALUES
    ('waffles'),
    ('candy'),
    ('marmalade'),
    ('cookies'),
    ('chocolate');

INSERT INTO storehouses(name, address, city, country) VALUES
    ('MSK-1', '109235, Moscow, 4386 Projected proezd, 8', 'Moscow', 'Russia'),
    ('SPB-1 ', '197375, St. Petersburg, Suzdal highway, 26', 'Saint-petersburg', 'Russia'),
    ('EKB-1', '620137, Yekaterinburg, Shefskaya street, 1A ', 'Yekaterinburg', 'Russia'),
    ('EKB-2', '620137, Yekaterinburg, Shefskaya street, 2A', 'Yekaterinburg', 'Russia');

INSERT INTO manufacturers(name, phone, address, city, country) VALUES
    ('Mishan', '', '109235, Moscow, Proektiruemoy proezd, 15', 'Moscow', 'Russia'),
    ('Sobaken', '78125748899', '197375, St. Petersburg, Suzdal highway, 75', 'Saint-petersburg', 'Russia'),
    ('Martykha', '74657896525', '620137, Yekaterinburg, Shefskaya street, 5A', 'Yekaterinburg', 'Russia'),
    ('Mishan', '', '109235, Kazan, Projected street, 15', 'Kazan', 'Russia');

INSERT INTO manufacturers_storehouses(storehouses_id, manufacturers_id) VALUES
    (1, 1),
    (2, 2),
    (3, 3),
    (1, 2),
    (2, 1);

INSERT INTO sweets(
    sweets_types_id,
    name,
    cost,
    weight,
    manufacturer_id,
    with_sugar,
    requires_freezing,
    production_date,
    expiration_date
) VALUES
    (1, 'Milty', '100', '200',1, false, false, '2022-05-03 ', '2022-05-15'),
    (2, 'Mikus', '150', '300', 1 , true, true, '2022-04-03', '2022-05-03'),
    ( 3, 'Mivi', '110', '100', 1 , true, false, '2022-03-03', '2022-04-14'),
    (4, 'Mi', '120', '200 ', 1, false, true, '2022-03-04', '2022-04-04'),
    (5, 'Misa', '145', '570', 1, true, false, '2021-03 -03', '2022-12-03'),
    (1, 'Soltic', '115', '200', 2 , false, false, '2022-05-03', '2022-05-15'),
    (2, 'Soucus', '155', '300', 2 , true, true, '2022-03-03', '2022-05-03'),
    (3, 'Soviet', '117', '500', 2 , true, false, '2022-03-03', '2022-04-14'),
    (4, 'Co', '129', '250', 2, false, true, '2022 -03-04', '2022-04-04'),
    (5, 'Sor', '148', '500', 2, true, false, '2021-02-03', '2022-12-03 '),
    (1, 'Maltik', '210', '200', 3 , false, false, '2022-05-03', '2022-05-15'),
    (2, 'Macus', '350 ', '300', 3 , true, true, '2022-01-03', '2022-05-03');
""")

**View tables**

In [2]:
pd.read_sql('SELECT * FROM sweets', connector)

In [3]:
pd.read_sql('SELECT * FROM sweets_types', connector)

In [4]:
pd.read_sql('SELECT * FROM manufacturers_storehouses', connector)

In [5]:
pd.read_sql('SELECT * FROM storehouses', connector)

In [6]:
pd.read_sql('SELECT * FROM manufacturers', connector)

**Queries**

Creating Pandas dataframes for basic SQL tables.

In [7]:
# get SQL tables as pandas dataframes
df_sweets = pd.read_sql("SELECT * FROM sweets;", connector)
df_sweets_types = pd.read_sql("SELECT * FROM sweets_types;", connector)
df_manufacturers_storehouses = pd.read_sql("SELECT * FROM manufacturers_storehouses", connector)
df_storehouses = pd.read_sql("SELECT * FROM storehouses", connector)
df_manufacturers = pd.read_sql("SELECT * FROM manufacturers", connector)

Show the names of sweets which weight is 300

In [8]:
# convert data type
df_sweets['weight'] = pd.to_numeric(df_sweets['weight'])
# show reuslt
df_sweets[df_sweets.weight == 300].name

In [9]:
pd.read_sql("SELECT name FROM sweets WHERE weight = '300'", connector)

Show the names of sweets which cost is 100

In [10]:
# convert data type
df_sweets['cost'] = pd.to_numeric(df_sweets['cost'])
df_sweets[df_sweets.cost == 100].name

In [11]:
pd.read_sql("SELECT name FROM sweets WHERE cost = '100'", connector)

Find a list of sweets that start with "M"

In [12]:
df_sweets[df_sweets.name.str.startswith('M')].name

In [13]:
pd.read_sql("SELECT name FROM sweets WHERE name LIKE 'M%'", connector)

Names of sweets that have a cost of 150 and a weight of 300

In [14]:
df_sweets[(df_sweets.cost == 150) & (df_sweets.weight == 300)].name

In [15]:
pd.read_sql("SELECT name FROM sweets WHERE cost = '150' AND weight = '300'", connector)

Names of sweets which cost is from 200 to 300

In [16]:
df_sweets[df_sweets['cost'].between(200, 300)].name

In [17]:
pd.read_sql("SELECT name FROM sweets WHERE cost BETWEEN '200' AND '300'", connector)

Sort names of sweets by ID in descending order

In [18]:
df_sweets.sort_values(by='id', ascending=False).name

In [19]:
pd.read_sql("SELECT name FROM sweets ORDER BY id DESC", connector)

Find the name of the sweet with the highest price

In [20]:
df_sweets[df_sweets.cost == df_sweets.cost.max()].name

In [21]:
pd.read_sql("SELECT name FROM sweets WHERE cost = (SELECT MAX(cost) FROM sweets)", connector)

Which cities have storehouses?

In [22]:
df_storehouses['city'].unique()

In [23]:
pd.read_sql("SELECT DISTINCT city FROM storehouses", connector)

Find manufacturers in more than one city

In [28]:
df_manufacturers.groupby('name').name.count()[df_manufacturers.groupby('name').name.count() > 1]

In [29]:
pd.read_sql("""
SELECT name, COUNT(name) as 'name_count' FROM manufacturers
GROUP BY name HAVING COUNT(name) > 1
""", connector)

Find the names of all chocolates

In [24]:
df_sweets.merge(df_sweets_types, left_on='sweets_types_id', right_on='id').query('name_y == "chocolate"').name_x

In [25]:
pd.read_sql("""
SELECT sweets.name FROM sweets
JOIN sweets_types ON sweets.sweets_types_id = sweets_types.id
WHERE sweets_types.name = 'chocolate';
""", connector)

Find the number of sweets for each type. In the response, display the name of the type and the quantity

In [26]:
df_sweets.merge(df_sweets_types, left_on='sweets_types_id', right_on='id').groupby('name_y').id_x.count()

In [27]:
pd.read_sql("""
SELECT sweets_types.name, COUNT(sweets.id) as 'sweets_count' FROM sweets
JOIN sweets_types ON sweets.sweets_types_id = sweets_types.id
GROUP BY sweets_types.name
""", connector)

Find types of sweets that have more than 2 quantity

In [30]:
df_sweets_sweets_types = pd.merge(df_sweets, df_sweets_types, left_on='sweets_types_id', right_on='id')
df_sweets_sweets_types.groupby('name_y').id_x.count()[df_sweets_sweets_types.groupby('name_y').id_x.count() > 2]

In [31]:
pd.read_sql("""
SELECT sweets_types.name, COUNT(sweets.id) as 'sweets count' FROM sweets
JOIN sweets_types ON sweets.sweets_types_id = sweets_types.id 
GROUP BY sweets_types.name
HAVING COUNT(sweets.id) > 2;
""", connector)

Which cities have storehouses with sweets "Milty"?

In [32]:
df_sweets_manufacturers_storehouses = pd.merge(df_sweets,
                                               df_manufacturers_storehouses,
                                               left_on='manufacturer_id',
                                               right_on='manufacturers_id')
df_sweets_manufacturers_storehouses.merge(df_storehouses,
                                          left_on='storehouses_id',
                                          right_on='id').query('name_x == "Milty"').city

In [33]:
pd.read_sql("""
SELECT storehouses.city FROM storehouses
JOIN manufacturers_storehouses ON storehouses.id = manufacturers_storehouses.storehouses_id
JOIN sweets ON sweets.manufacturer_id = manufacturers_storehouses.manufacturers_id
WHERE sweets.name = 'Milty'
""", connector)

How many sweets are in each storehouse?

In [34]:
df_storehouses_manufacturers_storehouses = pd.merge(df_storehouses,
                                                    df_manufacturers_storehouses,
                                                    how='left',
                                                    left_on='id',
                                                    right_on='manufacturers_id')
df_storehouses_manufacturers_storehouses.merge(df_sweets,
                                               how='left',
                                               left_on='manufacturers_id',
                                               right_on='manufacturer_id').groupby('name_x').id_y.count()

In [35]:
pd.read_sql("""
SELECT storehouses.NAME, COUNT(sweets.id) as 'sweets_count' FROM storehouses
LEFT JOIN manufacturers_storehouses ON storehouses.id = manufacturers_storehouses.storehouses_id
LEFT JOIN sweets ON sweets.manufacturer_id = manufacturers_storehouses.manufacturers_id
GROUP BY storehouses.NAME
""", connector)

Find storehouses with more than 8 sweets

In [36]:
df_storehouses_manufacturers_storehouses = pd.merge(df_storehouses,
                                                    df_manufacturers_storehouses,
                                                    how='left',
                                                    left_on='id',
                                                    right_on='manufacturers_id')
df_smss = df_storehouses_manufacturers_storehouses.merge(df_sweets,
                                                         how='left',
                                                         left_on='manufacturers_id',
                                                         right_on='manufacturer_id')
df_smss['name_x'].value_counts()[df_smss['name_x'].value_counts() > 8]

In [37]:
pd.read_sql("""
SELECT storehouses.name, COUNT(sweets.id) as 'sweets_count' FROM storehouses
LEFT JOIN manufacturers_storehouses ON storehouses.id = manufacturers_storehouses.storehouses_id
LEFT JOIN sweets ON sweets.manufacturer_id = manufacturers_storehouses.manufacturers_id
GROUP BY storehouses.name
HAVING COUNT(sweets.id) > 8
""", connector)

**Selection**
Prepare an upload about the types of sweets produced since March 2022. The selection must contain the following attributes:
- Type of sweet;
- Number of sweets;
- Number of sweets without sugar;
- Number of sweets requiring freezing;
- Number of sweets with manufacturer's phone number and weight of 300 grams.

In [40]:
df_sweets_sweets_types = pd.merge(df_sweets, df_sweets_types, left_on='sweets_types_id', right_on='id')
df_sweets_sweets_types_manufacturers_storehouses = df_sweets_sweets_types.merge(df_manufacturers_storehouses,
                                                                                left_on='manufacturer_id',
                                                                                right_on='manufacturers_id')
df_sstmsm = df_sweets_sweets_types_manufacturers_storehouses.merge(df_manufacturers,
                                                                   left_on='manufacturers_id',
                                                                   right_on='id',
                                                                   suffixes=('_w', '_z'))
def my_agg(x):
    names = {
        'sweets_count': x[x.production_date >= '2022-03-01'].id_x.count(),
        'without_sugar': x[(x.production_date >= '2022-03-01') & (x.with_sugar == 0)].id_x.count(),
        'requires_freezing': x[(x.production_date >= '2022-03-01') & (x.requires_freezing == 1)].id_x.count(),
        'sweets_300g_phone': x[(x.production_date >= '2022-03-01') & (x.phone != '') & (x.weight == 300)].id_x.count(),
    }
    return pd.Series(names)
df_sstmsm.groupby('name_y').apply(my_agg)

In [41]:
pd.read_sql("""
SELECT sweets_types.name,
COUNT(CASE WHEN production_date >= '2022-03-01' THEN 1 ELSE NULL END) as 'sweets_count',
COUNT(CASE WHEN sweets.with_sugar = 0 
AND production_date >= '2022-03-01' THEN 1 ELSE NULL END) as 'without_sugar',
COUNT(CASE WHEN sweets.requires_freezing = 1
AND production_date >= '2022-03-01' THEN 1 ELSE NULL END) as 'requires_freezing',
COUNT(CASE WHEN manufacturers.name = 'Mishan' AND sweets.weight = 300
AND production_date >= '2022-03-01' THEN 1 ELSE NULL END) as 'sweets_300g_phone'
FROM sweets
JOIN sweets_types ON sweets.sweets_types_id = sweets_types.id
JOIN manufacturers_storehouses ON manufacturers_storehouses.manufacturers_id = sweets.manufacturer_id
JOIN manufacturers ON manufacturers.id = manufacturers_storehouses.manufacturers_id
GROUP BY sweets_types.name
""", connector)